<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Best Buy App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
          rel="stylesheet">
  </head>
  <body>
    <a href="/" class="header-logo">
      <img src="/images/logo.png" alt="Best Buy App Logo">
    </a>
    <div class="container">
      <div class="content">

<h1>Best Buy App</h1>

<p>
  Welcome to the Best Buy App. A Sinatra app to help you decide which is the item to buy at the supermarket based on an item's weight or volume and cost. The web app compares the economic value of a smaller quantity item versus a larger quantity to determine which product offers more value. Learn more on the <a href="/about">About</a> page.
</p>

<p>
  Click the Price Comparison Image below to use the custom <a href="/compare">Comparison Algorithm</a>.
</p>

<a class="sator-square" href="/compare">
  <img src="/images/compare.png" alt="Price Comparison">
</a>
      </div>
    </div>
  </body>
</html>